logger: {}
chartname: openloft
sharedValues:
  affinity: {}
  nodeSelector: {}
  podSecurityContext: {}
  resources: {}
  securityContext: {}
  tolerations: {}
globalConfig:
  metadata.labels:
  - strategy: newline
    key: openloft.labels
  metadata.name:
  - strategy: inline
    key: openloft.fullname
fileConfig:
  deploy/chart/openloft-generated/clusterdomains.storage.openloft.cn-crd.yaml: {}
  deploy/chart/openloft-generated/openloft-controller-manager-deployment.yaml: {}
  deploy/chart/openloft-generated/openloft-controller-manager-metrics-service-svc.yaml: {}
  deploy/chart/openloft-generated/openloft-controller-manager-sa.yaml: {}
  deploy/chart/openloft-generated/openloft-leader-election-role-role.yaml: {}
  deploy/chart/openloft-generated/openloft-leader-election-rolebinding-rb.yaml: {}
  deploy/chart/openloft-generated/openloft-manager-role-cr.yaml: {}
  deploy/chart/openloft-generated/openloft-manager-rolebinding-crb.yaml: {}
  deploy/chart/openloft-generated/openloft-metrics-reader-cr.yaml: {}
  deploy/chart/openloft-generated/openloft-proxy-role-cr.yaml: {}
  deploy/chart/openloft-generated/openloft-proxy-rolebinding-crb.yaml: {}
  deploy/chart/openloft-generated/openloft-system-namespace.yaml: {}
  deploy/chart/openloft-generated/virtualclusterinstances.storage.loft.sh-crd.yaml: {}
  deploy/chart/openloft-generated/virtualclustertemplates.storage.loft.sh-crd.yaml: {}
